@import "tailwindcss";
@plugin 'daisyui' {
  themes: light --default;
}
.font-bebas {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.active {
  border-bottom: 3px solid green;
}

.btn-1 {
  @apply rounded-lg bg-green-800 text-white;
}

.about-bg-1 {
  background-image: linear-gradient(
      to bottom,
      rgb(3, 36, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/images/herobg-1.jpg");
  height: 770px;
}
.hero-bg-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/images/herobg-1.jpg");
  height: 730px;
}
.hero-bg-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/images/herobg-2.jpg");
  height: 730px;
}
.hero-bg-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/images/herobg-3.jpg");
  height: 730px;
}
.hero-bg-4 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 1)
    ),
    url("./assets/images/herobg4.jpg");
  height: 730px;
}

html {
  scroll-behavior: smooth;
}
